<html>

<body>
    <h2>List your property</h2>
    <a href="/">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_first_name" class="control-group"> <label for="id_first_name"
                class="control-label requiredField">
                Address<span class="asteriskField">*</span> </label>
            <div class="controls"> <input type="text" name="address" maxlength="200" class="textinput textInput"
                    required="" id="id_address"> </div>
        </div>
        <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
                City<span class="asteriskField">*</span> </label>
            <div class="controls"> <input type="text" name="city" maxlength="64" class="textinput textInput" required=""
                    id="id_city"> </div>
        </div>
        <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
                Country<span class="asteriskField">*</span> </label>
            <div class="controls"> <input type="text" name="country" maxlength="64" class="textinput textInput"
                    required="" id="id_country"> </div>
        </div>
        <label for="house">House type</label>
        <select name="housetype" id="housetype">
            <optgroup label="House Type">
                <option value="condominium">Condominium</option>
                <option value="villa">Villa</option>
                <option value="studio">Studio</option>
                <option value="single-storey">Single storey house</option>
                <option value="double-storey">Double storey house</option>
                <option value="other">Other</option>
            </optgroup>
        </select>
        <div id="div_id_long" class="control-group"> <label for="id_long" class="control-label requiredField">
                Number of bedrooms <span class="asteriskField">*</span> </label>
            <div class="controls"> <input type="text" name="bedrooms" class="textInput" required="" id="id_bedrooms">
            </div>
        </div>
        <div id="div_id_long" class="control-group"> <label for="id_long" class="control-label requiredField">
                Accomadates(number of guests) <span class="asteriskField">*</span> </label>
            <div class="controls"> <input type="text" name="guest" class="textInput" required="" id="id_guest">
            </div>
        </div>
        <div id="div_id_long" class="control-group"> <label for="id_long" class="control-label requiredField">
                Start Date available(dd/mm/yy) <span class="asteriskField">*</span> </label>
            <div class="controls"> <input type="text" name="startdate" class="textInput" required="" id="id_startdate">
            </div>
        </div>
        <div id="div_id_long" class="control-group"> <label for="id_long" class="control-label requiredField">
                End Date available(dd/mm/yy)<span class="asteriskField">*</span> </label>
            <div class="controls"> <input type="text" name="enddate" class="textInput" required="" id="id_enddate">
            </div>

            <div id="div_id_long" class="control-group"> <label for="id_long" class="control-label requiredField">
                    House rules <span class="asteriskField">*</span> </label>
                <div class="controls"> <input type="text" name="rules" class="textInput" required="" id="id_rules">
                </div>
            </div>
            <div id="div_id_long" class="control-group"> <label for="id_long" class="control-label requiredField">
                    Amenities <span class="asteriskField">*</span> </label>
                <div class="controls"> <input type="text" name="amenities" class="textInput" required=""
                        id="id_amenities">
                </div>
            </div>
            <br>
            <button type="submit" value="Add">Add</button>
    </form>
    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}
</body>

</html>