<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.datatables.min.css">
<!--Chart js-->
    <link rel="stylesheet" type='text/css'
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
    integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
    integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.datatables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script> 
    <script src="https://cdn.datatables.net/1.10.12/js/datatables.bootstrap.min.js"></script>  
    <title>HomeExchange Admin Page</title>
<!--Table for Sum of revenue of each country-->
    <script>
      $(document).ready(function () {
          const ctx = document.getElementById('myChart').getContext('2d');
          const myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ["{{country}}"],
                  datasets: [{
                      label: '# of Votes',
                      data: ["{{revenue}}"],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
      })
  </script>

<!--property chart-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    $(function () {

        var $populationChart = $("#population-chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.country,
                        datasets: [{
                            label: 'Population',
                            backgroundColor: 'blue',
                            data: data.revenue
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Population Bar Chart'
                        }
                    }
                });

            }
        });

    });

</script>

  </head>
  <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="offcanvasExample"
        >
          <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>
        <a
          class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
          href="#"
          >Home Exchange Admin</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#topNavBar"
          aria-controls="topNavBar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavBar">
          <form class="d-flex ms-auto my-3 my-lg-0">
            <div class="input-group">
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle ms-2"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person-fill"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="login.html">Switch to customer login page</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav bg-light"
      tabindex="-1"
      id="sidebar"
    >
      <div class="offcanvas-body p-0">
        <nav class="navbar-light">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                FUNCTIONS
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Carousel
              </div>
            </li>
            <li>
              <a
                class="nav-link px-3 sidebar-link"
                data-bs-toggle="collapse"
                href="#carouselExampleCaptions"
              >
                <span class="me-2"><i class="bi bi-layout-split"></i></span>
                <span>Carousel</span>
                <span class="ms-auto">
                  </span>
                </span>
              </a>
              <div class="collapse" id="layouts">
              </div>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Visualisation
              </div>
            </li>
            <li>
              <a href="#me" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Charts</span>
              </a>
            </li>
            <li>
              <a href="#example" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-table"></i></span>
                <span>Property</span>
              </a>
            </li>
            <li>
              <a href="#example2" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-table"></i></span>
                <span>Active Exchanges</span>
              </a>
            </li>
            <li>
              <a href="#example3" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-table"></i></span>
                <span>Users</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>Dashboard</h4>
          </div>
        </div>
        <div class="row">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="home_it2002/app/static/app/images/black.jpg" class="d-block w-100.fluid" style="height: 250px; width:100%" alt="logo"/>
                <div class="carousel-caption d-none d-md-block">
                  <h1>Pending</h1>
                  <h3>XXX</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img src="home_it2002/app/static/app/images/black.jpg" class="d-block w-100.fluid" style="height: 250px; width:100%" alt="logo">
                <div class="carousel-caption d-none d-md-block">
                  <h1>Total Users</h1>
                  <button type="button"> 
                    Count Rows 
                  </button> 
                  <h3> XXX</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img src="home_it2002/app/static/app/images/black.jpg" class="d-block w-100.fluid" style="height: 250px; width:100%" alt="logo">
                <div class="carousel-caption d-none d-md-block">
                  <h1>Total active exchanges</h1>
                  <h3>XXX</h3>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        </br>
        <div class="row" id="me">
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                <a href='adminPage2.html'>Sum of revenue of each country</a>
              </div>
              <div class="card-body">
                <canvas id="myChart" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card h-100">
              <div class="card-header" >
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                <a href='adminPage3.html'>Best and Worst customers</a>
              </div>
              <div class="card-body" id="container">
                  <canvas id="population-chart" data-url="{% url 'population-chart' %}"></canvas>              
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> <a href= 'adproperty.html'>Properties</a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="table table-striped data-table"
                    style="width: 100%"
                  >
                      <thead>
                          <th>Userid</th>
                          <th>Propertyid</th>
                          <th>City </th>
                          <th>Country</th>
                          <th>Address</th>
                          <th>House type</th>
                          <th>Bedrooms</th>
                          <th>Accomodates</th>
                          <th>Date available </th>
                          <th>End date</th>
                          <th>Amenities</th>
                          <th>Active</th>
                      </thead>
                      {% for property in records %}
                      <tr>
                          <td> {{ property.13 }} </td>
                          <td> {{ property.0 }} </td>
                          <td> {{ property.2 }} </td>
                          <td> {{ property.3 }} </td>
                          <td> {{ property.1 }} </td>
                          <td> {{ property.6 }} </td>
                          <td> {{ property.7 }} </td>
                          <td> {{ property.8 }} </td>
                          <td> {{ property.9 }} </td>
                          <td> {{ property.10 }}</td>
                          <td> {{ property.11 }} </td>
                          <td> {{ property.12 }} </td>
                          <a href="view/{{property.0}}"><button>View</button></a>
                          <a href="edit/{{property.0}}"><button>Edit</button></a>
                          <a href="locate/{{property.0}}"><button>Locate</button></a>
              
                          <form method="POST" style="display: inline;">
                              {% csrf_token %}
                              <input type="hidden" name="id" value="{{property.0}}" />
                              <button onclick="return confirm('Are you sure you want to delete this property?');" type="submit"
                                  name="action" value="delete">Delete</button>
                          </form>|
                          </td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Table for active exchanges -->
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> <a href= 'adexchanges.html'>Active Exchanges</a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="example2"
                    class="table table-striped data-table"
                    style="width: 100%"
                  >
                      <thead>
                          <th>Exchangeid</th>
                          <th>Userid1</th>
                          <th>Userid2</th>
                          <th>Propertyid1</th>
                          <th>Propertyid2</th>
                          <th>Start</th>
                          <th>Ends</th>
                          <th>Refunded?</th>
                          <th>Status1</th>
                          <th>Status2</th>
                      </thead>
                      {% for exchange in records %}
                      <tr>
                          <td> {{ exchange.0 }} </td>
                          <td> {{ exchange.1 }} </td>
                          <td> {{ exchange.2 }} </td>
                          <td> {{ exchange.3 }} </td>
                          <td> {{ exchange.4 }} </td>
                          <td> {{ exchange.5 }} </td>
                          <td> {{ exchange.6 }} </td>
                          <td> {{ exchange.9 }} </td>
                          <td> {{ exchange.11 }}</td>
                          <td> {{ exchange.12 }} </td>
                          <a href="view/{{exchange.0}}"><button>View</button></a>
                          <a href="edit/{{exchange.0}}"><button>Edit</button></a>
                          <a href="locate/{{exchange.0}}"><button>Locate</button></a>
              
                          <form method="POST" style="display: inline;">
                              {% csrf_token %}
                              <input type="hidden" name="id" value="{{exchange.0}}" />
                              <button onclick="return confirm('Are you sure you want to delete this exchange?');" type="submit"
                                  name="action" value="delete">Delete</button>
                          </form>|
                          </td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Table for users -->
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> <a href= 'adusers.html'>Users</a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="example3"
                    class="table table-striped data-table"
                    style="width: 100%"
                  >
                      <thead>
                          <th>Userid</th>
                          <th>First name</th>
                          <th>Last name</th>
                          <th>Email</th>
                          <th>Country code</th>
                          <th>Contact</th>
                          <th>Credit card</th>
                          <th>Rating</th>
                          <th>wallet</th>
                      </thead>
                      {% for users in records %}
                      <tr>
                          <td> {{ users.0 }} </td>
                          <td> {{ users.1 }} </td>
                          <td> {{ users.2 }} </td>
                          <td> {{ users.3 }} </td>
                          <td> {{ users.4 }} </td>
                          <td> {{ users.5 }} </td>
                          <td> {{ users.9 }} </td>
                          <td> {{ users.11 }}</td>
                          <td> {{ users.12 }} </td>
                          <a href="view/{{users.0}}"><button>View</button></a>
                          <a href="edit/{{users.0}}"><button>Edit</button></a>
                          <a href="locate/{{users.0}}"><button>Locate</button></a>
              
                          <form method="POST" style="display: inline;">
                              {% csrf_token %}
                              <input type="hidden" name="id" value="{{users.0}}" />
                              <button onclick="return confirm('Are you sure you want to delete this user?');" type="submit"
                                  name="action" value="delete">Delete</button>
                          </form>
                          </td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script>
    <script>
      $(document).ready(function(){
        $("button").click(function(){
            
          // Select all the rows in the table
          // and get the count of the selected elements
          var rowCount = $("#example tr").length;
          (rowCount); 
        });
      });
    </script> 
  </body>
</html>
