<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css'
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
        integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>Sum of revenue of each country</title>
</head>

<a href="aduser"><button>View users</button></a>|

<div id="container" style="width: 75%;">
    <canvas id="population-chart" data-url="{% url 'population-chart' %}"></canvas>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    $(function () {

        var $populationChart = $("#population-chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.country,
                        datasets: [{
                            label: 'Population',
                            backgroundColor: 'blue',
                            data: data.revenue
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Population Bar Chart'
                        }
                    }
                });

            }
        });

    });

</script>


<div id="container" style="width: 75%;">
    <canvas id="property-chart" data-url="{% url 'property-chart' %}"></canvas>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    $(function () {

        var $populationChart = $("#property-chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.country,
                        datasets: [{
                            label: 'Count',
                            backgroundColor: 'blue',
                            data: data.count
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Property count in each country'
                        }
                    }
                });

            }
        });

    });

</script>

<h3> Most exchange users</h3>
<table border=1>
    <thead>
        <th> Userid </th>
        <th> Exchange count</th>
    </thead>
    {% for b in bestcust %}
    <tr>
        <td> {{ b.0}} </td>
        <td> {{ b.1 }} </td>
    </tr>
    {% endfor %}
</table>

<h3> Most complained users</h3>
<table border=1>
    <thead>
        <th> Userid </th>
        <th> Complained counts</th>
        <th> Rating </th>
    </thead>
    {% for w in worstcust %}
    <tr>
        <td> {{ w.0}} </td>
        <td> {{ w.1 }} </td>
        <td> {{ w.2 }} </td>
    </tr>
    {% endfor %}
</table>