{% load static %}
<html>

<body>
    <a href="logout"> logout</a>
    <h2>Properties</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%" alt="NUS logo" /><br />
    <a href="manage/{{user}}"> Manage my properties</a>
    <a href="profile/{{user}}"> My profile</a>
    <br></br>
    <a href="add/{{user}}">List your property!</a>
    <a href='/myexchange/{{user}}'>My exchanges</a>
    <br></br>
    <h3>Filter criteria</h3>
    {% csrf_token %}
    <form class="add_your_class" method="GET" action="">
        <input class="add_your_class" type="search" name="country" placeholder="Country">
        <input class="add_your_class" type="search" name="startdate" placeholder="Start date">
        <input class="add_your_class" type="search" name="enddate" placeholder="End date">
        <button class="add_your_class" type="submit"> Search </button>
    </form>
    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}
    <br /><br />
    <table border=1>
        <thead>
            <th> City </th>
            <th>Country</th>
            <th>Address</th>
            <th>House type</th>
            <th>Bedrooms</th>
            <th>Accomodates</th>
            <th>Date available(start) </th>
            <th>Date available(end) </th>
            <th>Amenities</th>
            <th>Duration</th>
        </thead>
        {% for property in records %}
        <tr>
            <td> {{ property.2 }} </td>
            <td> {{ property.3 }} </td>
            <td> {{ property.1 }} </td>
            <td> {{ property.6 }} </td>
            <td> {{ property.7 }} </td>
            <td> {{ property.8 }} </td>
            <td> {{ property.9 }} </td>
            <td> {{ property.10 }} </td>
            <td> {{ property.11 }} </td>
            <td> {{ property.12 }} </td>
            <a href="view/{{property.0}}"><button>View</button></a>
            <a href="edit/{{property.0}}"><button>Edit</button></a>
            <a href="locate/{{property.0}}"><button>Locate</button></a>
            <a href="exchange/{{property.0}}"><button>exchange!</button></a>

        </tr>
        {% endfor %}
    </table>
    <h2> exchange requests</h2>
    <table>
        {% if pendings %}
        <thead>
            <th>requested from</th>
            <th>proposed start date</th>
            <th>proposed end date</th>

        </thead>
        {% endif %}
        {% if pendings %}
        {% for p in pendings %}
        <tr>
            <td>{{ p.0 }}</td>
            <td>{{ p.2 }}</td>
            <td>{{ p.3 }}</td>
            <a href="options/{{p.0}}"><button>View exchange options</button></a>
            <form method="post">
                {% csrf_token %}
                <button class="button is-danger" name="acceptance" value="Decline">
                    Decline
                </button>
            </form>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>

</html>