{% load static %}
<html>

<body>
    <a href="logout"> logout</a>
    <h2>Properties</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%" alt="NUS logo" /><br />
    <a href="add/{{user}}">List your property!</a>
    <br></br>
    <h3>Filter countries</h3>
    {% csrf_token %}
    <form class="add_your_class" method="GET" action="">
        <input class="add_your_class" type="search" name="search">
        <button class="add_your_class" type="submit"> Search </button>
    </form>
    <br /><br />
    <table border=1>
        <thead>
            <th> City </th>
            <th>Country</th>
            <th>Address</th>
            <th>House type</th>
            <th>Bedrooms</th>
            <th>Accomodates</th>
            <th>Date available </th>
            <th>Amenities</th>
            <th>Duration</th>
        </thead>
        {% for property in records %}
        <tr>
            <td> {{ property.2 }} </td>
            <td> {{ property.3 }} </td>
            <td> {{ property.1 }} </td>
            <td> {{ property.6 }} </td>
            <td> {{ property.7 }} </td>
            <td> {{ property.8 }} </td>
            <td> {{ property.9 }} </td>
            <td> {{ property.11 }} </td>
            <td> {{ property.12 }} </td>
            <a href="view/{{property.0}}"><button>View</button></a>
            <a href="edit/{{property.0}}"><button>Edit</button></a>
            <a href="locate/{{property.0}}"><button>Locate</button></a>
            <a href="exchange/{{property.0}}"><button>exchange!</button></a>

        </tr>
        {% endfor %}
    </table>
    <h2> exchange requests</h2>
    {% if pendings %}
    {{ pendings.0 }}
    {{ pendings.1 }}
    {{ pendings.2 }}
    {{ pendings.3 }}
    {{ pendings.4 }}
    <button class="add_your_class" type="accept"> Accept </button>
    <button class="add_your_class" type="decline"> Decline </button>
    {% endif %}
</body>

</html>